{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    EXEMPLO
{% endblock title %}

{% block body %}
    <div ng-view></div>
{% endblock body %}

{% block extrascripts %}
    <!-- script src="{% static "js/controllers/controllers.js" %}"></script>
    <script src="{% static "js/services/services.js" %}"></script>

    <script src="{% static "js/controllers/aluno-controller.js" %}"></script>
    <script src="{% static "js/services/aluno-service.js" %}"--></script>
{% endblock extrascripts %}
